.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  justify-self: flex-start;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #6e6161;
  flex-shrink: 0;
}
